body {
  font-family: 'Roboto', sans-serif;
  }

label {
  font-size: 1em;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: 1rem;
}

.gfg {
  margin: 3%;
  position: relative;
}

.first-txt {
  position: absolute;
  top: 17px;
  left: 50px;
  color: #F0F0FF;
  font-size: 100px;
  font-weight: 700;
}

.pa{
  margin-top: 8px;
}

.wrapper{
  display:grid;
  grid-template-columns: 60% 40%;
  /* grid-column-gap:1em ;
  grid-row-gap: 1em; */
}

.wrapper > div{
  background-color: #eee;
  padding: 1em;
}

.wrapperin{
  display:  grid;
  grid-template-columns: 49% 48%;
  grid-column-gap: 1em
}



